<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <mat-card fxFlex="300px"  >
        <mat-card-content>

          <img src="assets/img/logo.jpg">
          <span fxLayoutAlign="center center">CREATE AN ACCOUNT  </span>

       <div *ngIf="alert" class="alert alert-success  alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Your account created succesfully!.Please Check your email
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="service.formModel"  autocomplete="off" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-group " >

            <input  class="form-control"  matInput placeholder="First Name" formControlName="nom" required>
            <mat-icon matSuffix>account_circle</mat-icon>


          </mat-form-field>

            <!--<mat-error *ngIf="data.firstname.errors?.required">First Name is required</mat-error>-->
          <mat-form-field  class="form-group " >

            <input  class="form-control" type="text" matInput placeholder="Last Name" formControlName="prenom">
            <mat-icon matSuffix> account_circle</mat-icon>



           <!--<mat-error *ngIf="data.lastname.errors?.required">Last Name is required</mat-error>-->
          </mat-form-field>
          <mat-form-field  class="form-group required " >

            <input class="form-control" type="text" matInput placeholder="Username" formControlName="username">
            <mat-icon matSuffix>account_circle</mat-icon>

            <mat-error *ngIf="service.formModel.get('username').touched && service.formModel.get('username').errors?.required"> username is required</mat-error>

            <!--<mat-error *ngIf="data.username.errors?.required">Username is required</mat-error>-->

          </mat-form-field>
          
          <mat-form-field  class="form-group " >

              <input  class="form-control" type="text" matInput placeholder="Email" formControlName="email">
              <mat-icon matSuffix> mail_outline  </mat-icon>

              <mat-error *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.required"> email is required</mat-error>

              <!--<mat-error *ngIf="data.username.errors?.required">Username is required</mat-error>-->

            </mat-form-field>
             
          <mat-form-field  class="form-group " >

            <input  class="form-control" type="text" matInput placeholder="Address" formControlName="adresse">
            <mat-icon matSuffix> mail_outline  </mat-icon>


            <!--<mat-error *ngIf="data.username.errors?.required">Username is required</mat-error>-->

          </mat-form-field>  
          <div formGroupName="Passwords">

          <mat-form-field class="form-group required">

            <input class="form-control"   type="password" matInput placeholder="password" formControlName="password">
            <mat-icon matSuffix> vpn_key </mat-icon> 

            <mat-error *ngIf="service.formModel.get('Passwords.password').touched && service.formModel.get('Passwords.password').errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.formModel.get('Passwords.password').touched && service.formModel.get('Passwords.password').errors?.minlength">Minimum 4 characters required.</mat-error>
           
           <!--<mat-error *ngIf="data.password.errors?.required">Password is required</mat-error>-->
          </mat-form-field>
         
          <mat-form-field class="form-group required">

              <input class="form-control"  type="password" matInput placeholder="password_confirmation" formControlName="password_confirmation">
              <mat-icon matSuffix> vpn_key </mat-icon> 

              <mat-error *ngIf="service.formModel.get('Passwords.password_confirmation').touched && service.formModel.get('Passwords.password_confirmation').errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="service.formModel.get('Passwords.password_confirmation').touched && service.formModel.get('Passwords.password_confirmation').errors?.passwordMismatch">Confirm Password does not match.</mat-error>
             
              <!--<mat-error *ngIf="data.password.errors?.required">Password is required</mat-error>-->
            </mat-form-field>
          </div>
            <div class="form-group form-check">
                <!--[ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"-->
              <input class="form-control"  type="checkbox" class="form-check-input"  />

              <label class="form-check-label"> I read and Accept Terms & Conditions</label>
              <div class="invalid-feedback">Accept Ts & Cs is required</div>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid" (ngSubmit)="verifyEmail()">Sign Up</button></div>
          <div><a [routerLink]="['/login']" class="ml-2" mat-button color="primary">Login</a></div>
          
        </form>
      </mat-card-content>

      </mat-card>
    </div>
  </div>
  <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>
